# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Python build files
# =========================
build/
dist/
*.egg-info/

# =========================
# Database files
# =========================
*.db
*.sqlite
*.sqlite3